.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 13vw;
  max-height: 25vw;
}

@media only screen and (max-width: 1000px) {
  img {
    width: 33vw;
    max-height: 45vw;
  }
}
