button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  user-select: none;
}
.primaryButton {
  background-color: var(--primaryOrange);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.secondaryButton {
  background-color: var(--purple);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.salmonButton {
  background-color: var(--salomon);
  color: white;
  padding: 1rem;
  border: solid 2px var(--primaryOrange);
  border-radius: 10px;
  cursor: pointer;
}

.outlineButton {
  background-color: white;
  color: var(--primaryOrange);
  padding: 1rem;
  border: solid 2px var(--primaryOrange);
  border-radius: 10px;
  cursor: pointer;
}
