.container {
  margin: 4rem auto;
  width: 90vw;
  align-self: center;
}

.interior {
  width: 100%;
  max-height: 40vw;
  border-radius: 25px;
  background-color: var(--white);
  color: var(--purple);
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
  background-color: var(--purple);
  color: white;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  user-select: none;
}

.hamburgerMenu {
  display: none;
}

.content {
  flex: 4;
  width: 100%;
  padding: 2rem;
}

label {
  font-size: smaller;
}

select {
  width: 100%;
  border-radius: 10px;
  font-size: large;
  background-color: var(--purple);
  color: white;
  text-align-last: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin: 1rem auto;
    width: 90%;
  }
  .interior {
    max-height: 90%;
    flex-direction: column;
    gap: 0.5rem;
    grid-gap: 0.5rem;
  }
  .content {
    padding: 1rem;
  }
  .menu {
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .hide {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }
}
