.header {
  background-color: var(--primaryOrange);
  user-select: none;
  padding: 1rem 4rem;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: white;
}

li {
  float: right;
  cursor: pointer;
  user-select: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

.logoText {
  cursor: pointer;
  font-size: 4rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 5rem;
}
@media only screen and (max-width: 1000px) {
  .logoText {
    font-size: 2rem;
  }
  .navbar ul {
    gap: 1.5rem;
  }
  .container {
    justify-content: space-around;
    padding: 0;
  }
}
