.header {
  background-color: var(--primaryOrange);
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 4rem;
}

.navbar ul {
  list-style: none;
}
li {
  float: right;
  margin: 0 3rem;
  cursor: pointer;
  user-select: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

.logoText {
  font-size: 2rem;
}
