.background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 8rem;
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

h4 {
  color: #444;
}

.form p {
  font-size: 1rem;
  cursor: pointer;
}

.showPassword {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.2rem;
}

#sp-label {
  font-size: xx-small;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 1000px) {
  .background {
    flex-direction: column;
  }
  .container {
    margin-top: 1rem;
    width: 90%;
  }
}
