:root {
  --primaryOrange: #f7753b;
  --salomon: #f09888;
  --white: #f1e6e3;
  --purple: #741b35;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  background: url("./resources/images/tegut-background.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 0.875rem;
  }
}
